<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>

<h1><%= @owner.username %></h1>

<% @owner.appliances.each do |a| %>
    Appliance: <%= link_to a.appliance_name, a %> <br>

<% end %>

